@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

body {
    background-color: #628E75;
    background-image: linear-gradient(to bottom right, #628E75, #1A4855);
    background-repeat:no-repeat;
    width: 99%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 10% auto 10%;
    
}

.logo {
    width: 6rem;
    height: 3rem;
}

.icons {
    color: #F9F9F9;
    height: 5rem;
    
}

.icons .fab {
    margin: 40px 10px auto 10px;
}

.ilustracao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row-reverse;
    margin: 5% 10% 10% 10%;
}
.ilustracao img {
    width: 35vw;
    height: 60vh;
}

.filme {
    color: #F9F9F9;
    width: 30vw;
}

.filme h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.filme h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 35pt;
}

.filme p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.filme button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    color: #F9F9F9;
    padding: 2%;
    margin: 3px;
    cursor:pointer;
}
.filme .agora {
    background-color: #628E75;
}

.filme .trailer {
    background-color: Transparent;
    border:#628E75 solid 3px;
}

@media screen and (max-width: 750px) {
    .ilustracao {
        flex-direction: column;
    }
    
    .ilustracao img {
        width: 70vw;
        height: 50vh;
        align-items: center;
    }

    .filme {
        width: 100%;
    }

    .filme p, h1, h2 {
        margin: 5px;
    }

    .filme .agora {
        margin: 20px;
    }

    .filme .trailer {
        display: none;
    }
}    
